<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: dynamic-layout(~{::section})}">
<body>

<section>

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h3>Quản lý Công thức</h3>

        <button class="btn btn-success">

            <i class="fa-solid fa-plus"></i>

            Thêm Công thức

        </button>

    </div>

    <div class="card shadow-sm border-0">

        <div class="card-body">

            <table class="table table-bordered">

                <thead class="table-dark">

                <tr>

                    <th>Mã</th>

                    <th>Sản phẩm</th>

                    <th>Số nguyên liệu</th>

                    <th>Ngày tạo</th>

                    <th width="180">
                        Thao tác
                    </th>

                </tr>

                </thead>

                <tbody>

                <tr>

                    <td colspan="5"
                        class="text-center">

                        Chưa có dữ liệu

                    </td>

                </tr>

                </tbody>

            </table>

        </div>

    </div>

</section>

</body>
</html>